/* the attached files block is intended to appear like a bb code block */

.attachedFiles
{
	@property "bbCodeBlock";
	margin: 1em 0;
	border: 1px solid @primaryLighterStill;
	border-radius: 2px;
	overflow: auto;
	@property "/bbCodeBlock";
}

.messageList.withSidebar .attachedFiles
{
	margin-right: 0px;
}

	.attachedFiles .attachedFilesHeader
	{
		@property "bbCodeBlockType";
		font-size: 11px;
		font-family: @body.font-family;
		color: @contentText;
		padding: 8px;
		border-bottom: 1px solid @primaryLighterStill;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		background: linear-gradient(#FFFFFF, #F2F2F2);
		@property "/bbCodeBlockType";
		
	}

	.attachedFiles .attachmentList
	{
		/* roughly the same as "bbCodeCode" with the monospacing stuff removed */
		overflow: hidden; zoom: 1;		
		padding: 10px 10px 0;
		background: @contentBackground;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

		.attachment
		{
			float: left;
			width: 50%;
			max-width: 300px;
		}
		
		.attachment .boxModelFixer
		{
			overflow: hidden; zoom: 1;
			margin-bottom: 10px;
			margin-right: 10px;
			padding: 10px;				
			background: @primaryDark;
			/*border: 1px solid @primaryLighterStill;*/
			border-radius: 2px;	
		}
		
			<xen:set var="$attachThumbSize">{xen:calc 'min(100, {$xenOptions.attachmentThumbnailDimensions} / 2)'}px</xen:set>
		
			.attachment .thumbnail
			{
				float: left;						
				/*border-right: 1px solid @primaryLighterStill;
				padding-right: 5px;*/
				width: {$attachThumbSize};
				height: {$attachThumbSize};
				overflow: hidden;
			}
			
				.attachment .thumbnail .SquareThumb
				{
					width: {$attachThumbSize};
					height: {$attachThumbSize};
					border-radius: 3px;
				}
				
				.attachment .thumbnail .genericAttachment
				{
					@property "genericAttachmentThumb";
					background: @primaryMedium url('@imagePath/extra/icon-brivium.png') no-repeat center -213px;
					display: block;
					width: 36px;
					height: 36px;
					@property "/genericAttachmentThumb";
					
					padding: {xen:calc '({$xenOptions.attachmentThumbnailDimensions} / 2 - @genericAttachmentThumb.height) / 2'}px {xen:calc '({$xenOptions.attachmentThumbnailDimensions} / 2 - @genericAttachmentThumb.width) / 2'}px !important;
				}
			
		.attachment .attachmentInfo
		{
			white-space: nowrap;
			overflow: hidden; zoom: 1;
			font-size: 11px;
			padding-left: 10px;
		}
		
			.attachment .attachmentInfo .filename
			{
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 100%;
			}
			
/******** Brivium Extra ********/

.attachment .attachmentInfo dd,
.attachment .attachmentInfo dt
{
	color: @textCtrlBackground;
}
			
.attachment .attachmentInfo .filename a
{
	color: @textCtrlBackground;
}

<xen:if is="@enableResponsive">
@media (max-width:@maxResponsiveWideWidth)
{
	.Responsive .attachedFiles
	{
		margin-right: 0;
	}
}

@media (max-width:@maxResponsiveMediumWidth)
{
	html.Responsive .attachment
	{
		width: 100%;
	}
}
</xen:if>