.discussionList
{
	position: relative;
	zoom: 1;
}

/** column style and width **/

.discussionList .sectionHeaders,
.discussionListItem
{
	display: table;
	table-layout: fixed;
	width: 100%;
	word-wrap: normal;
}

	.discussionList .sectionHeaders dt,
	.discussionList .sectionHeaders dd,
	.discussionListItem .listBlock
	{
		display: table-cell;
		vertical-align: middle;
	}
	
		.discussionList .posterAvatar
		{
			width: @discussionListAvatarWidth;
		}
		
		.discussionList .main
		{
			width: auto;
		}

			.discussionList .sectionHeaders .main .postDate
			{
				text-align: right;
			}
		
		.discussionList .stats
		{
			width: @discussionListStatsWidth;
		}
			
			.discussionList .sectionHeaders .stats .minor
			{
				text-align: right;
			}
		
		.discussionList .lastPost
		{
			width: @discussionListLastPostWidth;
			text-align: right;
			overflow: hidden;
		}
		
		.discussionList .statsLastPost /* combined last two columns */
		{
			width: {xen:calc '@discussionListStatsWidth + @discussionListLastPostWidth'}px;
		}
	

/* column headers */

.discussionList .sectionHeaders
{	
	@property "subHeading";
	font-size: @fafontsizel;
	font-family: @fa_secondaryfont;
	color: @facolor6;
	background-color: @facolor2;
	padding: 12px 10px;
	margin: 3px auto 0;
	border-radius: @fa_borderradiuss;
	@property "/subHeading";
	
	padding: 0;
}

	.discussionList .sectionHeaders dt span
	{
		display: none !important;
	}
		
	.discussionList .sectionHeaders a
	{
		display: block;
		color: @subHeading.color;
		outline: none;
	}
	
	.discussionList .sectionHeaders a:hover
	{
		text-decoration: none;
	}
			
	.discussionList .sectionHeaders dd a[href]:hover
	{
		@property "subHeadingHover";
		text-decoration: none;
		background: rgba(232, 232, 232, 0.1);
		@property "/subHeadingHover";
	}
		
	.discussionList .sectionHeaders .main a,
	.discussionList .sectionHeaders .stats a
	{
		float: left;
		width: 50%;
		white-space: nowrap;
	}
	
		.discussionList .sectionHeaders a span
		{
			@property "subHeading.padding";
			padding: 12px 10px;
			@property "/subHeading.padding";
			display: block;
		}
		
/** IE <8 **/
.discussionList .sectionHeaders,
.discussionListItem                { *display: block; _vertical-align: bottom; }
.discussionList .sectionHeaders dt,
.discussionList .sectionHeaders dd,
.discussionListItem .listBlock     { *display: block; *float: left; }
.discussionListItem .listBlock     { _height: 52px; *min-height: 52px; } /* todo: should be calculation */
.discussionList .posterAvatar      { *width: 6.98%; }
.discussionListItem .posterAvatar  { *font-size: 0; }	
.discussionList .main              { *width: 56.98%; }
.discussionList .stats             { *width: 15.97%; }	
.discussionList .lastPost          { *width: 19.97%; }
.discussionList .statsLastPost     { *width: 35.97%; }
.discussionList .sectionHeaders dt,
.discussionList .sectionHeaders dd { *padding: 5px 0; }
.discussionList .sectionHeaders a,
.discussionList .sectionHeaders a span { *display: inline !important; *float: none !important; }

/* items in thread list */

.discussionListItems
{
}



	
/* individual thread list item */
	
/** main **/

.discussionListItem
{
	@property "primaryContent.background";
	background-color: @contentBackground;
	@property "/primaryContent.background";
	
	@property "primaryContent.border";
	border-bottom: 1px solid rgb(235, 235, 235);
	@property "/primaryContent.border";
	padding: 8px 0px;
}
	/* avatar section */
	
	.discussionListItem .posterAvatar .avatarContainer
	{
		display: block;
		position: relative;
	}
	
	.discussionListItem .posterAvatar .avatar
	{
		@property "discussionListAvatar";
		padding: 5px;
		display: block;
		width: 36px;
		height: 36px;
		@property "/discussionListAvatar";
		
		width: auto;
		height: auto;
	}
	
		.discussionListItem .posterAvatar .avatar img
		{
			width: @discussionListAvatar.width;
			height: @discussionListAvatar.height;
			display: block;
		}
		
		.discussionListItem .posterAvatar .miniMe
		{
			@property "discussionListMiniMe";
			padding: 0;
			position: absolute;
			bottom: 1px;
			left: 29px;
			z-index: 10;
			@property "/discussionListMiniMe";
		}
		
			.discussionListItem .posterAvatar .miniMe img
			{
				@property "discussionListMiniMeImg";
				padding: 1px;
				border: 1px none black;
				border-radius: @fa_borderradiuss;
				box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
				width: 20px;
				height: 20px;
				@property "/discussionListMiniMeImg";				
			}		
		
		
	/* title, poster section */
	
	.discussionListItem .titleText
	{
		padding: 5px;
		overflow: hidden; zoom: 1;
		position: relative;
	}
	
		/* unread indicator */
		
		.LoggedIn .discussionListItem .titleText
		{			
			padding-left: 20px;
		}
		
		.LoggedIn .discussionListItem .unreadLink,
		.LoggedIn .discussionListItem .ReadToggle
		{
			display: block;
			width: 10px;
			height: 10px;
			
			position: absolute;
			left: 5px;
			top: 10px;
			
			
			white-space: nowrap;
			color: @faintTextColor;
			font-size: 11px;
		}
		
		
			.LoggedIn .discussionListItem .ReadToggle:hover
			{
				background-position: -25px -42px;
			}
	
		/* first row */
	
		.discussionListItem .title
		{
			@property "discussionListFirstRow";
			font-size: @fafontsizel;
			margin-bottom: 5px;
			line-height: 18px;
			@property "/discussionListFirstRow";
			max-width: 100%;
			word-wrap: break-word;
		}
		
			.discussionListItems .unread .title a
			{
				@property "discussionListTitleUnread";
				font-weight: bold;
				/*padding-right: 18px;
				background: transparent url('@imagePath/xenforo/widgets/discussion-new.png') no-repeat right center;*/
				@property "/discussionListTitleUnread";
			}
			
		
		.discussionListItem .iconKey span
		{
			@property "dicussionListIcon";
			margin-left: 5px;
			float: right;
			font-size: @fafontsizel;
			width: 16px;
			height: 16px;
			@property "/dicussionListIcon";
		}
		
		/* second row */
		
		.discussionListItem .secondRow
		{
			@property "discussionListSecondRow";
			font-size: @fafontsizes;
			@property "/discussionListSecondRow";
			clear: both;
		}
		
			.discussionListItem .secondRow .controls
			{
				float: right;
				padding-left: 20px;
			}
				
				.discussionListItem.AjaxProgress .controls
				{
					background: transparent url('styles/mifans/assets/ellipsis22.svg') no-repeat left center;
				}
			
			.discussionListItem .posterDate
			{
				float: left;
			}
			
			
			
	/* stats section */
	
	.discussionListItem .stats dl
	{
		padding: 0 10px;
		border-left: 1px solid @primaryLighterStill;
		border-right: 1px solid @primaryLighterStill;
	}
		.discussionListItem .stats .major
		{
			@property "discussionListFirstRow";
			font-size: @fafontsizel;
			margin-bottom: 5px;
			line-height: 18px;
			@property "/discussionListFirstRow";
			
			margin-top: 5px;
		}
			
		.discussionListItem .stats .minor
		{
			@property "discussionListSecondRow";
			font-size: @fafontsizes;
			@property "/discussionListSecondRow";
			
			margin-bottom: 5px;
		}
			
	/* last post section */
	
	.discussionListItem .lastPostInfo
	{
		padding: 5px;
	}
	
		.discussionListItem .lastPostInfo .username
		{
			@property "discussionListFirstRow";
			font-size: @fafontsizel;
			margin-bottom: 5px;
			line-height: 18px;
			@property "/discussionListFirstRow";
		}
		
	
			.discussionListItems .unread .lastPostInfo .username
			{
				@property "discussionListTitleUnread";
				font-weight: bold;
				/*padding-right: 18px;
				background: transparent url('@imagePath/xenforo/widgets/discussion-new.png') no-repeat right center;*/
				@property "/discussionListTitleUnread";
			}
		
		.discussionListItem .lastPostInfo .dateTime
		{
			@property "discussionListSecondRow";
			font-size: @fafontsizes;
			@property "/discussionListSecondRow";
		}


/* extra note row */

.discussionListItem .noteRow
{
	@property "primaryContent.background";
	background-color: @contentBackground;
	@property "/primaryContent.background";
	padding: 5px;
	text-align: center;
	font-size: 11px;
	color: @primaryMedium;
}




/* deleted item */

.discussionList .discussionListItem.deleted
{
}

	.discussionList .discussionListItem.deleted .avatar img
	{
		opacity: 0.5;
		filter: alpha(opacity='50');
	}
		
	.discussionList .discussionListItem.deleted .deletionNote
	{
		float: left;
		color: rgb(150,0,0);
	}
		
/* moderated item */

.discussionList .discussionListItem.moderated .listBlock
{
	@property "primaryContent.background";
	background-color: @contentBackground;
	@property "/primaryContent.background";
}

		
		
		
		
		
			
/* inline mod selected/checked classes */

.discussionListItem.InlineModChecked,
.discussionListItem.InlineModChecked .posterAvatar,
.discussionListItem.InlineModChecked .main,
.discussionListItem.InlineModChecked .stats,
.discussionListItem.InlineModChecked .lastPost,
.discussionListItem.deleted.InlineModChecked,
.discussionListItem.moderated.InlineModChecked
{
	@property "inlineModChecked";
	background-color: @inlineMod;
	@property "/inlineModChecked";
}
















		
/** bottom summary **/

.discussionList .sectionFooter
{
	overflow: hidden; zoom: 1;
}

	.discussionList .sectionFooter .contentSummary
	{
		float: left;
		display: block;
	}

		
/** thread list options **/

.DiscussionListOptions
{
	@property "discussionListOptions";
	margin: 10px auto;
	border: 1px solid @primaryLighter;
	border-radius: @fa_borderradiuss;
	line-height: 20px;
	overflow: hidden;
	zoom: 1;
	@property "/discussionListOptions";
}

.hasJs .DiscussionListOptions
{
	display: none;
}

	.DiscussionListOptions dl,
	.DiscussionListOptions .controlGroup
	{
		float: left;
		margin-right: 10px;
		
		overflow: hidden; zoom: 1;
	}
	
		.DiscussionListOptions dt
		{
			float: left;
		}
		
		.DiscussionListOptions dd
		{
			margin-left: 120px;
		}
		
	.DiscussionListOptions .buttonGroup
	{
		float: right;
	}
	
		.DiscussionListOptions .buttonGroup input
		{
			min-width: 75px;
		}
	
#DiscussionListOptionsHandle
{
	@property "discussionListOptionsHandle";
	position: absolute;
	bottom: -17px;
	line-height: 16px;
	text-align: center;
	right: 50%;
	white-space: nowrap;
	@property "/discussionListOptionsHandle";
}
	
	#DiscussionListOptionsHandle a
	{
		@property "discussionListOptionsHandleLink";
		font-size: @fafontsizes;
		color: @facolor2;
		background-color: @sectionMain.background-color;
		padding: 5px 20px;
		margin: 0 auto;
		border: 1px solid @primaryLighter;
		border-top: 1px none black;
		border-bottom-right-radius: @fa_borderradiusl;
		border-bottom-left-radius: @fa_borderradiusl;
		display: inline-block;
		outline: 0;
		position: relative;
		right: -50%;
		top: 10px;
		@property "/discussionListOptionsHandleLink";
	}
	
.afterDiscussionListHandle
{
	margin-top: 20px;
}
	
/** item page nav **/

.discussionListItem .itemPageNav
{
	{xen:if '@discussionListPageNavHidden', 'visibility: hidden;'}
}

.discussionListItem:hover .itemPageNav,
.Touch .discussionListItem .itemPageNav
{
	visibility: visible;
}

	.itemPageNav a,
	.itemPageNav span
	{
		@property "discussionListItemPageNavItem";
		font-size: @fafontsizes;
		padding: 0 3px;
		border-radius: @fa_borderradiuss;
		color: @primaryDarker !important;
		display: inline-block;
		text-align: center;
		@property "/discussionListItemPageNavItem";
	}
	
	body .itemPageNav a
	{
		@property "discussionListItemPageNavLink";
		background-color: @secondaryLightest;
		border: 1px solid @secondaryLighter;
		color: @primaryDarker !important;
		@property "/discussionListItemPageNavLink";
	}
	
	body .itemPageNav a:hover
	{
		@property "discussionListItemPageNavLinkHover";
		color: @secondaryDark;
		text-decoration: none;
		background-color: @secondaryLighter;
		border-color: @secondaryLight;
		@property "/discussionListItemPageNavLinkHover";
	}

/** filters **/
		
.discussionListFilters
{
	font-size: 11px;
	overflow: hidden; zoom: 1;
}

	.discussionListFilters .filtersHeading
	{
		float: left;
		margin-right: 5px;
		color: @primaryLight;
		font-weight: bold;
	}
	
	.discussionListFilters .removeFilter,
	.discussionListFilters .removeAllFilters
	{
		color: @primaryMedium;
		background-color @primaryLighterStill;
		border: 1px solid @primaryLighterStill;
		border-radius: 5px;
		padding: 2px 10px;
	}
	
		.discussionListFilters .gadget
		{
			color: @primaryLight;
			font-weight: bold;
			margin-left: 3px;
		}

	
		.discussionListFilters .removeFilter:hover,
		.discussionListFilters .removeAllFilters:hover
		{
			background-color: @primaryLightest;
			text-decoration: none;
			color: @mutedTextColor;
			box-shadow: 1px 1px 5px rgba(0,0,0, 0.15);
		}
		
	.discussionListFilters .pairsInline dt
	{
		display: none;
	}
	
	.discussionListFilters .filterPairs
	{
		float: left;
	}
	
	.discussionListFilters .removeAll
	{
		float: right;
	}
	
		.discussionListFilters .removeAllFilters
		{
			padding: 2px 6px;
		}

<xen:if is="@enableResponsive">
@media (max-width:@maxResponsiveMediumWidth)
{
	.Responsive .discussionList .sectionHeaders .stats
	{
		display: none;
	}
	
	.Responsive .discussionList .sectionHeaders .main .title
	{
		float: none;
		width: auto;
	}
	
	.Responsive .discussionList .sectionHeaders .main .postDate
	{
		display: none;
	}
	
	.Responsive .discussionList .statsLastPost
	{
		display: none;
	}

	.Responsive .discussionListItem .listBlock.main,
	.Responsive .discussionListItem .listBlock.stats,
	.Responsive .discussionListItem .listBlock.lastPost
	{
		display: block;
	}
	
	.Responsive .discussionListItem .listBlock.stats
	{
		float: left;
		width: auto;
		margin-top: -5px;
		border: none;
		background: none;
		padding-left: 5px;
	}
	
		.Responsive.LoggedIn .discussionListItem .listBlock.stats
		{			
			padding-left: 20px;
		}
	
		.Responsive .discussionListItem .listBlock.stats dl
		{
			border: none;
			padding: 0;
		}
		
		.Responsive .discussionListItem .listBlock.stats dd,
		.Responsive .discussionListItem .listBlock.stats dt
		{
			float: none;
			display: inline;
		}
	
		.Responsive .discussionListItem .listBlock.stats .minor
		{
			display: none;
		}
		
		.Responsive .discussionListItem .listBlock.stats .major
		{
			font-size: 11px;
			margin-top: 0;
		}
	
	.Responsive .discussionListItem .listBlock.lastPost
	{
		float: right;
		width: auto;
		margin-top: -5px;
	}
		.Responsive .discussionListItem .listBlock.lastPost .lastPostInfo
		{
			padding-top: 0;
			padding-bottom: 0;
		}
	
		.Responsive .discussionListItem .listBlock.lastPost dt
		{
			display: none;
		}
}

@media (max-width:@maxResponsiveWideWidth)
{
	.Responsive .discussionList .sectionHeaders .lastPost,
	.Responsive .discussionList .lastPost
	{
		width: 125px;
	}
}

@media (max-width:@maxResponsiveNarrowWidth)
{
	.Responsive .discussionListItem .secondRow .startDate,
	.Responsive .discussionListItem .secondRow .EditControl
	{
		display: none;
	}
}
</xen:if>
